// bower:scss
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

nav {
  background-color: #fcfcfc;
  box-shadow: none;

  ul {
    li {
      a {
        color: #d87684;
      }
      &.custom {
        font-weight: bold;
        a {
          color: #c22339;
        }
      }
    }
  }
}

.slider-home .slick-dots li button:before {
  font-size: 20px;
}

.section-1 {
  margin-top: 20px;
  .fotos-slick {
    .item-img {
      img {
        margin: 0 auto;
        width: 100%;
        max-width: 750px;
      }
    }
  }
}

.section-cards {
  .card-image {
    background-color: rgba(245, 245, 245, 0.4) !important;

    span {
      text-shadow: 1px 4px 6px #000,
      2px 2px 2px #ffb4b7;
    }
  }
}

.section-map {
  span.card-title {
    color: #ee6e73;
    font-weight: 300;
  }
}

/* Producto
 ------------ */

.producto.chip {
  color: #c22339;
  height: 38px;
  line-height: 38px;
  font-size: 20px;

  img {
    height: 38px;
    width: initial;
  }
}

.productos.collapsible {
  .card-panel {
    img {
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
}

.container.product-page {
  .card .card-action {
    padding: 2px 4px;
    min-height: 65px;

    .centrado-vertical {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 65px;

    }
  }
}

#macy-cont {
  .card {
    .card-action {
      padding: 5px 16px;

      ul {
        padding-left: 20px;
      }
    }
  }
}

.productos.pizzas {
  .card.hoverable {
    .card-content {
      padding: 0;
    }
    .card-action {
      p {
        padding: 0 5px;
      }
    }
  }
}

// Logo Left
nav .brand-logo {
  left: 0;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.parallax-container {
  height: 200px;
}

.address-data {
  padding: 10px 20px;
  color: white;

  & > span {
    font-size: 22px;
    font-weight: bold;
  }

  small {
    color: #F8BBD0;
  }

  span.iconos {
    width: 35px;
    height: 35px;
    background-color: #333;
    border-radius: 50%;

    img {
      width: 30px;
    }
  }

  p.telf {
    span {
      color: #880e4f;
      font-family: monospace;
      font-size: 17px;
      font-weight: 600;
    }
  }

  p.address {
    font-weight: 200;
  }
}

p.mt-10 {
  margin-top: 10px;
}

.clase-oculta {
  opacity: 0;
}

.mr-5 {
  margin-right: 5px;
}
