doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title KPRICHOS ARGENTINOS - Comida tradicional Argentina
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/materialize/bin/materialize.css')
    link(rel='stylesheet', href='/bower_components/slick-carousel/slick/slick-theme.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

  body
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->


    //- facebook
    include includes/facebook


    .container
      include includes/nav-menu

      .col.s8.offset-s2
        .section
          .card-content
            p.center-align.flow-text Actualmente disponemos de 3 locales en Madrid, ¡busca el tuyo y haz tu pedido!


      .row.section-map
        .col.s12
          .card
            .card-content
              .pink.ligthen-1.address-data
                span Sede Principal &nbsp;
                  //span.iconos
                    img(src="images/1.png")
                p.address Calle de Hermosilla, 82, 28001 Madrid&nbsp;
                  small (Mercado de Torrijos)
                p.telf: span 91 576 02 39
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6074.4780645318015!2d-3.676763600000006!3d40.4257057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x225da0138560477b!2sKprichos+Argentinos!5e0!3m2!1sen!2ses!4v1486840451068', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')
              .section
                .divider
              //.section.center-align
                p Este local dispone de todos los productos. También dispone del servicio de&nbsp;
                  a(href="./telempanadilla.html") telempanadilla
                  | .
            .card-action.center-align
              a.btn(href="https://www.google.com/maps?ll=40.425706,-3.676764&z=15&t=m&hl=es-ES&gl=ES&mapclient=embed&cid=2476311375826143099") Ampliar mapa

      .row.section-map
        .col.s12
          .card
            .card-content
              .pink.ligthen-1.address-data
                span Sede Chamartín
                p.address Calle Bolivia, 9, 28016 Madrid&nbsp;
                  small (Mercado de Chamartín)
                p.telf: span 123 123 123

              iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12143.22535824288!2d-3.686787432332048!3d40.4574230793604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4229212faea3d7%3A0x9a7bdcc58b6ef228!2sCalle+Bolivia%2C+9%2C+28016+Madrid!5e0!3m2!1ses!2ses!4v1488719823239" width="100%", height="400", frameborder="0", style="border:0", allowfullscreen='')
            .card-action.center-align
              a.btn(href="https://www.google.com/maps?ll=40.425706,-3.676764&z=15&t=m&hl=es-ES&gl=ES&mapclient=embed&cid=2476311375826143099") Ampliar mapa


      .row.section-map
        .col.s12
          .card
            .card-content
              .pink.ligthen-1.address-data
                span Local Alcalá &nbsp;
                  //span.iconos
                    img(src="images/1.png")
                p.address Calle Alcalá, 181, 28009 Madrid
                  //small (Mercado de Torrijos)
                p.telf: span 91 010 14 13
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.184190651987!2d-3.6737307848853678!3d40.42692017936406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228b08948f74f%3A0x2a614a0d8c081f01!2sCalle+de+Alcal%C3%A1%2C+181%2C+28009+Madrid!5e0!3m2!1ses!2ses!4v1488721084029', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')
              .section
                .divider
              //.section.center-align
                p Este local dispone de todos los productos. También dispone del servicio de&nbsp;
                  a(href="./telempanadilla.html") telempanadilla
                  | .
            .card-action.center-align
              a.btn(href="https://www.google.com/maps?ll=40.425706,-3.676764&z=15&t=m&hl=es-ES&gl=ES&mapclient=embed&cid=2476311375826143099") Ampliar mapa



    include includes/footer.pug

    include includes/analytics


    // build:js scripts/vendor.js
    // bower:js
    include includes/scriptsjs
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
