doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(name='description', content='Comida tradicional Argentina')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title KPRICHOS ARGENTINOS - Comida tradicional Argentina
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/materialize/bin/materialize.css')
    link(rel='stylesheet', href='/bower_components/slick-carousel/slick/slick-theme.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src="https://cdn.usefathom.com/script.js", data-site="XHYIWLET", defer)

    include includes/cookies

  body
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->


    //- facebook
    include includes/facebook


    .container
      include includes/nav-menu


      //- Slider
      .row
        .col.s12.section-1
          .fotos-slick.slider-home
            .item-img
              img(src="images/sliderHome/kprichos-argentinos-slider-2.jpg" alt="Pizzas KPRICHOS ARGENTINOS")
            .item-img
              img(src="images/sliderHome/kprichos-argentinos-slider-3.jpg" alt="Empanadas KPRICHOS ARGENTINOS")
            .item-img
              img(src="images/sliderHome/kprichos-argentinos-slider-1.jpg" alt="Pasta y Crepes KPRICHOS ARGENTINOS")
            .item-img
              img(src="images/sliderHome/kprichos-argentinos-slider-4.jpg" alt="Milanesa KPRICHOS ARGENTINOS")

      //- Texto
      .row
        .col.s8.offset-s2
          .section
            h5.center-align TELEMPANADILLA
            .card-content
              p.center-align ¡Empanadaillas artesanales y pizzas a domicilio! Haz tu pedido ahora y consulta zona de
                | reparto a través de nuestro teléfono
                br
                strong 91 576 02 39

      //- Cards
      .row.section-cards
        .col.s12.m4
          .card
            .card-image
              img(src='images/home/empanadas.png' alt='Empanadas KPRICHOS ARGENTINOS')
              |
              span.card-title EMPANADILLAS
            |
            .card-content
              p
              | Nuestras empanadillas son elaboradas artesanalmente con ingredientes de primera calidad.
              | Poco a poco fuimos creándolas y mimando cada detalle para hoy ofrecerte 26 diferentes rellenos de empanadillas.
            .card-action
              a.btn.waves-effect.waves-light(href="/productos.html") Ver más
                //- i.material-icons.left add

        .col.s12.m4
          .card
            .card-image
              img(src='images/home/pizzas.png' alt='Pizzas KPRICHOS ARGENTINOS')
              |
              span.card-title PIZZAS
            |
            .card-content
              p
              | Pizzas argentinas que vician de lo ricas que están. Ingredientes como la cebolla caramelizada y productos frescos como el tomate
              | dan nacimiento a nuestra pizzas Kprichos y a la tradicional Napolitana.
            .card-action
              a.btn.waves-effect.waves-light(href="/productos.html") Ver más

        .col.s12.m4
          .card
            .card-image
              img(src='images/home/sandwich.png' alt="Sandwich KPRICHOS ARGENTINOS")
              |
              span.card-title SÁNDWICHES
            .card-content
              p
              | Los sandwiches de miga argentinos son finas capas de pan de distintos sabores (tomate, zanahoria, arándanos, etc)
              | rellenos de exquisitos ingredientes que tambíen podrás personalizarlos a tu gusto.

            .card-action
              a.btn.waves-effect.waves-light(href="/productos.html") Ver más


      //- map & facebook
      .row.section-map
        .col.l8.m12.s12
          .card
            .card-content
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.198031242048!2d-3.6763311846037783!3d40.426613679364024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228ba58eba0ab%3A0x876db38c6e57e22e!2sMetro%20Goya%2C%20C.%20de%20Alc%C3%A1ntara%2C%209%2C%2028006%20Madrid!5e0!3m2!1ses!2ses!4v1633000144174!5m2!1ses!2ses', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='', loading='lazy')
            .card-action
              a.btn(href="https://www.google.com/maps?ll=40.425706,-3.676764&z=15&t=m&hl=es-ES&gl=ES&mapclient=embed&cid=2476311375826143099") Ampliar mapa

        .col.l4.m6.s12
          .card
            .card-content
              span.card-title DÓNDE ESTAMOS
              p: strong Calle de Alcántara, 9, 28006 Madrid
            .card-action
              a.teal-text(href="https://www.facebook.com/kprichos.argentinos/")
                img(src="images/facebook.png", width="200px" alt="Facebook Logo")

              p Síguenos en facebook para ser el primero en enterarte de nuestras ofertas
              p: a.teal-text(href="https://www.facebook.com/kprichos.argentinos/") Ver página en FB

              .fb-like(data-href='https://www.facebook.com/kprichos.argentinos/', data-layout='box_count', data-action='like', data-size='small', data-show-faces='false', data-share='true')



    include includes/footer.pug


    // build:js scripts/vendor.js
    // bower:js
    include includes/scriptsjs
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
