doctype html
html.no-js(lang='es')
	head
		meta(charset='utf-8')
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title KPRICHOS ARGENTINOS - Comida tradicional Argentina
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		// Place favicon.ico in the root directory

		// build:css styles/vendor.css
		// bower:css
		link(rel='stylesheet', href='/bower_components/materialize/bin/materialize.css')
		link(rel='stylesheet', href='/bower_components/slick-carousel/slick/slick-theme.css')
		// endbower
		// endbuild

		// build:css styles/main.css
		link(rel='stylesheet', href='styles/main.css')
		// endbuild

		// build:js scripts/vendor/modernizr.js
		script(src='/bower_components/modernizr/modernizr.js')
		// endbuild

		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

	body
		<!--[if lt IE 10]>
			p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		<![endif]-->


		//- facebook
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8&appId=294419107627967";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


		.container
			block index

		footer.page-footer
			.container
				.row
					.col.l6.s12
						//- img(src="images/logo-kprichos2.png", width="200px")
						h5.white-text Kprichos Argentinos
						|
						p.grey-text.text-lighten-4 Comida tradicional. Pastelería. Especialidades Argentinas. Catering. Envío a domicilio
						p.red-text.text-darken-3 626 583 617 - kaprichosargentinos@yahoo.es
						|
					.col.l4.offset-l2.s12
						h5.white-text Productos
						|
						ul
							li
								a.btn-flat.grey-text.text-lighten-3(href='#!') Empanadillas
								|
							li
								a.btn-flat.grey-text.text-lighten-3(href='#!') Pizzas
								|
							li
								a.btn-flat.grey-text.text-lighten-3(href='#!') Sandwiches
								|
							li
								a.btn-flat.grey-text.text-lighten-3(href='#!') Postres
			|
			.footer-copyright
				.container
					| &copy; 2017 - Kprichos Argentinos
					a.grey-text.text-lighten-4.right(href='http://baumannzone.com/?ref=Kprichos') Powered by Baumannzone


		// Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='https://www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');

		// build:js scripts/vendor.js
		// bower:js
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/modernizr/modernizr.js')
		script(src='/bower_components/materialize/bin/materialize.js')
		script(src='/bower_components/slick-carousel/slick/slick.js')
		// endbower
		// endbuild

		// build:js scripts/main.js
		script(src='scripts/main.js')
		// endbuild
