.section
  .producto.chip
    img(src="images/home/empanadas.png")
    | EMPANADILLAS

  ul.productos.collapsible(data-collapsible="accordion")
    li
      .collapsible-header
        span.new.badge(data-badge-caption="") 9
        i.material-icons filter_drama
        | Carne
      .collapsible-body
        .row
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante


    li
      .collapsible-header
        span.new.badge(data-badge-caption="") 7
        h5 Queso
      .collapsible-body
        .row
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante

    li
      .collapsible-header
        span.new.badge(data-badge-caption="") 5
        h5 Vegetarianas
      .collapsible-body
        .row
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante

    li
      .collapsible-header
        span.new.badge(data-badge-caption="") 4
        h5 VEGANAS
      .collapsible-body
        .row
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Carne Picante

    li
      .collapsible-header
        span.new.badge(data-badge-caption="") 1
        h5 PESCADO
      .collapsible-body
        .row
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/empanadas.png")
              h6.center-align Atún