footer.page-footer
	.container
		.row
			.col.l6.s12
				//- img(src="images/logo-kprichos2.png", width="200px")
				h5.white-text Kprichos Argentinos
				|
				p.grey-text.text-lighten-4 Comida tradicional. Pastelería. Especialidades Argentinas. Catering. Envío a domicilio
				p.red-text.text-darken-3 626 583 617 - kaprichosargentinos@yahoo.es
				|
			.col.l4.offset-l2.s12
				h5.white-text Productos
				|
				ul
					li
						a.btn-flat.grey-text.text-lighten-3(href='#!') Empanadillas
						|
					li
						a.btn-flat.grey-text.text-lighten-3(href='#!') Pizzas
						|
					li
						a.btn-flat.grey-text.text-lighten-3(href='#!') Sandwiches
						|
					li
						a.btn-flat.grey-text.text-lighten-3(href='#!') Postres
	|
	.footer-copyright
		.container
			| &copy; 2017 - Kprichos Argentinos
			a.grey-text.text-lighten-4.right(href='http://baumannzone.com/?ref=Kprichos') Powered by Baumannzone
