nav
	.nav-wrapper
		a.brand-logo(href='#!')
			img.hide-on-med-and-up(src="images/logo-kprichos2.png", width="220")
			img.hide-on-small-only(src="images/logo-kprichos2.png", width="271")
		a.button-collapse.right(href='#', data-activates='mobile-demo')
			i.material-icons.red-text.darken-1 menu

		ul.right.hide-on-med-and-down
			li
				a(href='/index.html') Inicio
			li
				a(href='./productos.html') Productos
			li
				a(href='#') Telempanadilla
			li
				a(href='#') Contacto

		ul#mobile-demo.side-nav
			li
				a(href='/index.html') Inicio
			li
				a(href='./productos.html') Productos
			li
				a(href='#') Tele-empanadilla
			li
				a(href='#') Contacto
