.section
  .producto.chip
    img(src="images/home/pizzas.png")
    | PIZZAS

  ul.productos.collapsible(data-collapsible="accordion")
    li
      .collapsible-header
        span.new.badge(data-badge-caption="") 9
        i.material-icons filter_drama
        | Carne
      .collapsible-body
        .row
          .col.l4.m3.s12.valign-wrapper
            .card-panel.grey.lighten-5.z-depth-1.valign.hoverable
              img.responsive-img(src="images/home/sandwich.png")
              h6.center-align sandwiches
