script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/modernizr/modernizr.js')
script(src='/bower_components/materialize/bin/materialize.js')
script(src='/bower_components/slick-carousel/slick/slick.js')
script(src='/bower_components/macy/dist/macy.min.js')
